body {
  margin: 0;
  padding: 0;
}
#product-overview {
  background: url("freedom.jpg");
  box-sizing: border-box;
  width: 100%;
  color: white;
  height: 500px;
  padding: 10px;
}
#plans h1 {
  color: rgb(12, 214, 12);
}

.main-header {
  background: rgb(12, 214, 12);
  padding: 10px 20px;
}

.navbar-li {
  display: inline-block;
  margin: 0px 20px;
}

.navbar-li a {
  text-decoration: none;
  color: rgb(83, 78, 78);
  font-weight: bold;
}

.navbar-li a:hover,
.navbar-li a:active {
  color: rgb(230, 99, 175);
  border-bottom: 3px solid rgb(230, 99, 175);
  padding-bottom: 5px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header div a {
  color: rgb(2, 51, 2);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 58px);
  vertical-align: middle;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.host a {
  color: white;
  background-color: rgb(230, 99, 175);
  padding: 5px 10px;
  border-radius: 8px;
}

.host a:active,
.host a:hover {
  color: rgb(230, 99, 175);
  background-color: white;
  border-bottom: none;
}
