* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ----------------------------------- */

.main-header {
  background: rgb(130, 248, 150);
  padding: 10px 20px;
}

.navbar-li {
  display: inline-block;
  margin: 0px 20px;
}

.navbar-li a {
  text-decoration: none;
  color: rgb(83, 78, 78);
  font-weight: bold;
}

.navbar-li a:hover,
.navbar-li a:active {
  color: rgb(230, 99, 175);
  border-bottom: 3px solid rgb(230, 99, 175);
  padding-bottom: 5px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header div a {
  color: rgb(2, 51, 2);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 58px);
  vertical-align: middle;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.host a {
  color: white;
  background-color: rgb(230, 99, 175);
  padding: 5px 10px;
  border-radius: 8px;
}

.host a:active,
.host a:hover {
  color: rgb(230, 99, 175);
  background-color: white;
  border-bottom: none;
}
/* --------------------------------------------------- */

.package {
  background: rgb(226, 248, 230);
  width: 70%;
  margin: 50px;
  padding: 30px 50px;
  text-align: left;
  border: 3px solid rgb(6, 134, 6);
}

.package:hover,
.package:active {
  border: 3px solid red;
}

.package a {
  text-decoration: none;
}

.package a h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.package a h2 {
  color: rgb(156, 140, 140);
  font-weight: bold;
  font-size: 25px;
}

.package_about {
  background: white;
  padding: 12px;

  color: rgb(83, 78, 78);
  border: 2px solid rgb(83, 78, 78);
}

.fix {
  clear: both;
}

.premium {
  background: rgb(6, 134, 6);
}

.premium a h1 {
  color: white;
}

.free {
  float: right;
  margin-right: 0;
}

/* ------------------------------------------------- */

.main_footer {
  background: black;
  color: white;
  padding: 30px;
  margin-top: 40px;
}

.main_footer_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main_footer_ul li {
  display: inline-block;
  margin: 0 20px;
}
.main_footer_ul li a {
  color: white;
  text-decoration: none;
}

.main_footer_ul li a:hover,
.main_footer_ul li a:active {
  color: rgb(248, 215, 215);
}

.button {
  background: rgb(4, 90, 4);
  color: white;
  padding: 8px;
  border: None;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  color: rgb(4, 90, 4);
  background: white;
  font-weight: bold;
  border: 1px solid rgb(4, 90, 4);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
